<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQOxG9tn6v22WtH0FMbbpVGfhcCL2pBhNS00mrOETRU-DHCn2V6APrgARwLXAUuv4-c6c&usqp=CAU" alt="" width="50" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="https://www.klm.nl/" target="_blank">KLM World</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="d-flex py-5 justify-content-center"><h1>Airline and Location Code Search</h1></div>
  <div class="d-flex justify-content-center">
    <div></div>
    <div></div>
  </div>
  <div class="justify-content-center row g-3 mb-4">
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Enter Airline code"
      (keyup)="fnKeyDownEvent($event,airlineCode)" [(ngModel)]="airlineCode"/>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary mb-3" (click)="fnGetAirlineCodeData(airlineCode)">Search</button>
    </div>
  </div>
  <ng-template [ngIf]="lvCodeSearchData.iata">
    <ng-template [ngIf]="lvLoadingData">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="d-flex justify-content-center">Loading...</div>
    </ng-template>
    <ng-template [ngIf]="!lvLoadingData">
      <div class="justify-content-center row">
        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-1">&nbsp;</div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-10 p-4 border shadow">
          <h5>You searched for "{{lvCodeSearchData.iata}}"</h5>
          <ng-template [ngIf]="lvCodeSearchData.country">
            <div>Country: {{lvCodeSearchData.country}}</div>
            <div>Airport: {{lvCodeSearchData.airport}}</div>
            <div>Weather: {{lvCodeSearchData.temperature}} &#8451;</div>
            <div>Last Updated: {{lvCodeSearchData.updated_at}}</div>
          </ng-template>
          <ng-template [ngIf]="!lvCodeSearchData.country">
            <div class="text-danger">Location not found for this code, please try some other code</div>
          </ng-template>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-1">&nbsp;</div>
      </div>
    </ng-template>
  </ng-template>
</div>
<!-- <router-outlet></router-outlet> -->
<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <div class="text-light">Currenlty In: {{userCountryData.countryname}}(+{{userCountryData.countrycode}}) | ISO Code: {{userCountryData.isocode_alpha3}}({{userCountryData.isocode_alpha2}})</div>
    <div class="text-light py-2"> &#169; 2022 Mohit Agarwal</div>
  </div>
</footer>